<div class="md:grid md:grid-cols-2 flex flex-wrap gap-5">
    <div class="w-full">
        <select  
            name="memberSelect" 
            id="memberSelect"
            #memberSelect
            (change)="onGetMemberSelect(memberSelect.value)"
            class="bg-transparent/20 h-full text-[#fff8] p-2 outline-none shadow shadow-black rounded-md placeholder:text-[#fff8]  placeholder:p-1 w-full">
            <option class="bg-white text-black" *ngFor="let searchMember of selectValues" value="{{searchMember.searchValue}}">{{searchMember.searchTerm}}</option>
        </select>
    </div>
  
    <div class="w-full">
    <input 
        type="text" 
        placeholder="Search by {{placeHolderValue}}"
        class="bg-transparent/20 text-[#fff8] p-2 w-full outline-none shadow shadow-black rounded-md placeholder:text-[#fff8]  placeholder:p-1"
        #searchMemberInput
        (input)="onGetSearchMemberInput(searchMemberInput.value)">
    </div>
</div>