<div class="grid grid-rows-[auto,1fr] h-full gap-5 p-5 w-full md:w-[90%] lg:w-[85%] xl:w-[80%] 2xl:w-[75%] mx-auto">
    <div class="flex flex-col gap-5">
        <div class="bg-transparent/60 text-[#2272ff] border-[#2272ff] border-2 rounded-md p-3 ">
            <p>Ovaj projekat je kreiran u demo svrhe kako bih demonstrirao svoje sposobnosti i pružio praktičan uvid u moj rad. Osmišljen je za upotrebu putem web pregledača, a koristio sam Angular 16 za kreiranje korisničkog interfejsa. Za kompletno back-end rešenje, opredelio sam se za Firebase, implementirajući autentifikaciju, realtime bazu podataka i firestorage. Ovaj projekat predstavlja samo početak, s obzirom na moju ambiciju da nastavim sa učenjem i proširim svoje veštine u budućnosti. Planiram dalje usavršavanje i kreiranje naprednijih projekata koji će odražavati moj profesionalni rast.</p>
        </div>
        <div class="bg-transparent/60 text-[#2272ff] border-[#2272ff] border-2 rounded-md p-3 w-[30%] mx-auto flex flex-col gap-1">
            <div class="flex flex-col gap-1">
                <h4 class="text-xl text-[#fff8] text-center">Informacije o projektu</h4>
                <p class="flex gap-3"><span class="text-[#fff8]">Link: </span>https://firma-bed54.web.app/auth</p>
            </div>
            <div class="flex flex-col gap-1">
                <h4 class="text-xl text-[#fff8] text-center">Podaci za logovanje</h4>
                <div class="flex justify-between">
                    <p><span class="text-[#fff8]">Email:</span> test@test.com</p>
                    <p><span class="text-[#fff8]">Password:</span> 123456</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid md:grid md:grid-cols-2 gap-5 ">
        <video controls class="w-full h-full">
            <source src="video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video controls class="w-full h-full">
            <source src="video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video controls class="w-full h-full">
            <source src="video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video controls class="w-full h-full">
            <source src="video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>