<div class="flex flex-col justify-between h-full gap-5 md:gap-7 p-5 ">
    <h2 class="text-center text-[#BB4430] text-4xl font-bold">About project</h2>
    <div class="shadow shadow-black bg-transparent/60 p-7 rounded-md grid md:grid md:grid-cols-2 lg:grid lg:grid-cols-4 lg:grid-rows-2 gap-7">
        <figure *ngFor="let video of videoArray"  routerLink="/main/portfolio/video/{{video.id}}" class="hover:cursor-pointer text-[#fff8]  bg-[#BB4430]/20 md:hover:flex md:hover:flex-col-reverse hover:justify-between hover:bg-[#BB4430] transition duration-1000 border border-[#BB4430]   p-2 rounded-md hover:text-[#EFE6DD]  row-span-2 grid grid-rows-[auto,1fr] gap-5 lg:gap-0 lg:grid-rows-2 ">
            <figcaption class="text-center">{{video.name}}</figcaption>
            <img class="self-end" src="{{video.img_src}}" alt="{{video.name}}">
        </figure>
    </div>
    <div class="text-[#EFE6DD] ">
        <p class="hidden md:block">{{aboutProject}}</p>
        <div class="block md:hidden">
            <p *ngIf="aboutProject.length < 230">{{aboutProject}}</p>
            <p *ngIf="aboutProject.length > 230 && !isShowen">
                {{aboutProject.slice(0,230)}}...
                <button class="text-[#BB4430]" (click)="onChangeShow()"> (Show more) </button>
            </p>
            <p *ngIf="aboutProject.length > 230 && isShowen">
                {{aboutProject}}
                <button class="text-[#BB4430]" (click)="onChangeShow()"> (Show less) </button>
            </p>
        </div>
    </div>
    <div class=" text-[#fff8] grid md:grid md:grid-cols-2  gap-7">
        <details class="md:hidden block rounded-md border border-[#BB4430] h-fit px-3 hover:cursor-pointer">
            <summary class="text-xl text-[#BB4430] text-center">Project Information</summary>
            <p class="flex gap-3"><span class="text-[#fff8]">Link: </span> <a class="text-[#2272ff]" href="https://firma-bed54.web.app/auth" target="_blank">https://firma-bed54.web.app/auth</a></p>
        </details>
        <details class="md:hidden block rounded-md border border-[#BB4430] h-fit px-3 hover:cursor-pointer">
            <summary class="text-xl text-[#BB4430] text-center">Login Credentials</summary>
            <div class="flex justify-between">
                <p>Email: <span class="text-[#2272ff]">test@test.com</span> </p>
                <p>Password: <span class="text-[#2272ff]">123456</span></p>
            </div>
        </details>
        <div class="hidden md:block rounded-md border border-[#BB4430] h-fit px-3">
            <h3 class="text-xl text-[#BB4430] text-center">Project Information</h3>
            <p class="flex gap-3"><span class="text-[#fff8]">Link: </span> <a class="text-[#2272ff]" href="https://firma-bed54.web.app/auth" target="_blank">https://firma-bed54.web.app/auth</a></p>
        </div>
        <div class="rounded-md border hidden md:block border-[#BB4430] h-fit px-3">
            <h3 class="text-xl text-[#BB4430] text-center">Login Credentials</h3>
            <div class="flex justify-between">
                <p>Email: <span class="text-[#2272ff]">test@test.com</span> </p>
                <p>Password: <span class="text-[#2272ff]">123456</span></p>
            </div>
        </div>
    </div>
</div>