<div class="grid grid-rows-[auto,1fr] h-full w-full p-5 gap-3">
    <h2 class="text-center text-[#BB4430] text-4xl font-bold">About me</h2>
    <div class="flex flex-col gap-5 ">
        <div>
            <app-show-more [showText]="aboutMeText" [showTextLength]="225"></app-show-more>
        </div>
        <div class="flex flex-col gap-3 text-[#fff8]">
            <div>
                <app-about-education></app-about-education>
            </div>
            <details class=" p-3  border border-[#BB4430]  rounded-xl text-[#EFE6DD] ">
                <summary class="text-[#BB4430] text-xl cursor-pointer">Experience</summary>
                <p class="mt-2">{{expirianceText}}</p>
            </details>
            <div>
                <app-about-courses></app-about-courses>
            </div>
            <div>
                <app-about-skils></app-about-skils>
            </div>
            <div>
                <app-about-additional-skills></app-about-additional-skills>
            </div>
        </div>
    </div>
</div>



