<div class="grid grid-rows-[auto,1fr] h-full w-full p-5 gap-3">
    <h2 class="text-center text-[#BB4430] text-4xl font-bold">About me</h2>
    <div class="flex flex-col gap-5 ">
        <div class="mb-5 mt-5 about-me-text  font-bold text-[#EFE6DD]  rounded-xl ">
            <p class="hidden md:block">
               {{aboutMeText}}
            </p>
            <div class="block md:hidden">
                <p *ngIf="aboutMeText.length < 230">{{aboutMeText}}</p>
                <p *ngIf="aboutMeText.length > 230 && !isShowen">
                    {{aboutMeText.slice(0,230)}}...
                    <button class="text-[#BB4430]" (click)="onChangeShow()"> (Show more) </button>
                </p>
                <p *ngIf="aboutMeText.length > 230 && isShowen">
                    {{aboutMeText}}
                    <button class="text-[#BB4430]" (click)="onChangeShow()"> (Show less) </button>
                </p>
            </div>
        </div>
        <div class="flex flex-col gap-3 text-[#fff8]">
            <details class="grid grid-rows-[auto,1fr] border border-[#BB4430]  p-3 rounded-xl text-[#EFE6DD] shadow shadow-black">
                <summary class="text-[#BB4430]  text-xl cursor-pointer">Education</summary>
                <div class="grid grid-cols-2 gap-2 mt-2 ">
                    <div>
                        <p>Srednja tehnička škola Nikola Tesla</p>
                        <p>Elektrotehničar računara 2011 - 2015</p>
                    </div>
                    <div>
                        <p>Fakultet tehničkih nauka u Novom Sadu</p>
                        <p>Energetika elektronika i telekomunikacije 2015 -</p>
                    </div>
                </div>
            </details>
            <details class=" p-3  border border-[#BB4430]  rounded-xl text-[#EFE6DD] ">
                <summary class="text-[#BB4430] text-xl cursor-pointer">Experience</summary>
                <p class="mt-2">I do not have professional experience as a web developer yet, but I am dedicated to learning and improving every day. I am actively studying front-end and back-end technologies, building projects, and expanding my skills to achieve my goal of becoming a proficient web developer</p>
            </details>
            <details class="grid grid-rows-[auto,1fr] border border-[#BB4430]  p-3 rounded-xl  break-words ">
                <summary class=" text-[#BB4430] text-xl  cursor-pointer">Courses</summary>
                <div class="grid grid-cols-2 gap-3 mt-3">
                    <div class="flex flex-col gap-2">
                        <h5 class="text-center  text-lg text-[#EFE6DD]">Udemy</h5>
                        <ng-container *ngFor="let udemyCourse of udemyCourses">
                            <p class="flex flex-col text-[#EFE6DD]">{{udemyCourse.name}} <a class="text-[#2272ff]" target="_blank" href="{{udemyCourse.link}}">{{udemyCourse.link}}</a></p>
                        </ng-container>
                    </div>
                    <div class="flex flex-col gap-2">
                        <ng-container *ngFor="let otherCourses of otherCourses">
                            <div class="flex flex-col gap-2">
                                <h5 class="text-center  text-lg text-[#EFE6DD]">{{otherCourses.headline}}</h5>
                                <p class="flex flex-col text-[#EFE6DD]">{{otherCourses.name}} <a class="text-[#2272ff]" target="_blank" href="{{otherCourses.link}}">{{otherCourses.link}}</a></p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </details>
            <details class="border border-[#BB4430] p-3 rounded-xl text-[#EFE6DD] ">
                <summary class="text-[#BB4430] text-xl  cursor-pointer">Skills</summary>
                <div class="grid grid-cols-2 gap-3">
                    <div class="flex flex-col gap-1">
                        <h4 class="text-center text-[#EFE6DD] text-xl">Front-end</h4>
                        <ng-container *ngFor="let fSkills of frontEndSkills">
                            <div class="flex flex-col md:grid md:grid-cols-4 md:items-center">
                                <p class="text-[#EFE6DD]">{{fSkills.name}}</p>
                                <progress class="col-span-3 w-full custom-progress" value="{{fSkills.progressValue}}" max="{{maxProgressValue}}"></progress>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex flex-col gap-1">
                        <h4 class="text-center text-[#EFE6DD] text-xl">Back-end</h4>
                        <ng-container *ngFor="let bSkills of backEndSkills">
                            <div class="flex flex-col md:gap-2 md:grid md:grid-cols-4 md:items-center">
                                <p class="text-[#EFE6DD]">{{bSkills.name}}</p>
                                <progress class="col-span-3 w-full custom-progress" value="{{bSkills.progressValue}}" max="{{maxProgressValue}}"></progress>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </details>
            <details class="grid grid-rows-[auto,1fr] gap-1 border border-[#BB4430]  p-3 rounded-xl text-[#EFE6DD] ">
                <summary class="text-[#BB4430] text-xl cursor-pointer">Additional skills</summary>
                <ul class="grid grid-cols-4 md:flex md:items-center md:justify-between gap-3 mt-2">
                    <li *ngFor="let addSkills of additionalSkills">{{addSkills}}</li>
                </ul>
            </details>
        </div>
    </div>
</div>



