<div class="md:grid md:grid-cols-2 flex flex-col gap-5">
    <div class="flex items-center gap-3 flex-wrap">
        <div (click)="onChangeSortDirection()" class="cursor-pointer flex items-center justify-center text-[#fff8]   shadow shadow-black bg-transparent/20 w-10 aspect-square p-1 rounded-md">
            <span class="cursor-pointer flex items-center">
                <i *ngIf="this.adminService.contactQuearyParamsSubject.value.isAscending" class="fa-solid fa-down-long "></i>
                <i *ngIf="!(this.adminService.contactQuearyParamsSubject.value.isAscending)" class="fa-solid fa-up-long "></i>
            </span>
        </div>
        <div>
            <app-admin-show-items-per-page [isUser]="true"></app-admin-show-items-per-page>
        </div>
    </div>
    <div class="w-full">
    <input 
        type="text" 
        placeholder="Search by name"
        class="bg-transparent/20 text-[#fff8] p-2 w-full outline-none shadow shadow-black rounded-md placeholder:text-[#fff8]  placeholder:p-1"
        #searchContactInput
        (input)="onGetSearchContactInput(searchContactInput.value)">
    </div>
</div>