<div class="grid grid-cols-3 md:grid-cols-2 gap-1">
    <div class="flex flex-col md:flex md:flex-row gap-3 items-center">
        <p class="text-[#fff8]">Show per page</p>
        <div class="flex gap-3 flex-wrap">
            <button class="border-[#2272ff] border bg-transparent/60 text-white w-8 aspect-square p-1 rounded-md" *ngFor="let item of itemsPerPage" (click)="onChangeItemPerPage(item)">{{item}}</button>
        </div>
    </div>
    <div class="w-full col-span-2 md:col-span-1 flex items-end">
    <input 
        type="text" 
        placeholder="Search by name"
        class="bg-transparent w-full outline-none border-transparent/60 border custom-input  rounded-md p-1 placeholder:text-transparent/60  placeholder:p-1"
        #searchContactInput
        (input)="onGetSearchContactInput(searchContactInput.value)">
    </div>
</div>