<div class="w-[70%] mx-auto">
    <div class="bg-slate-200 p-5">
        <main class="">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="flex flex-col">
                    <input 
                        type="text" 
                        placeholder="Username (your email address)" 
                        class="p-2" 
                        formControlName="userName"
                        [class.is-invalid]="submited && loginForm.get('userName')?.errors">
                    <label for="userName">Username (your email address)</label>
                    <span 
                        class="text-danger" 
                        *ngIf="submited && loginForm.get('userName')?.hasError('required')">
                            Username is required
                    </span>
                </div>
                <div class="flex flex-col">
                    <input 
                        type="password" 
                        placeholder="Password" 
                        class="form-control" 
                        formControlName="password"
                        [class.is-invalid]="submited && loginForm.get('password')?.errors">
                    <label for="password">Password</label>
                    <span 
                        class="text-danger" 
                        *ngIf="submited && loginForm.get('password')?.hasError('required')">
                            Password is required
                    </span>
                </div>
                <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <!-- <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages> -->
                    <a class="btn btn-link" (click)="resendEmailConfirmationLink()" *ngIf="errorMessages[0].includes('Plase confirm your email')">
                        Click here to resend email confirmation link in case you didn't recive it.
                    </a>
                </div>
                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-lg btn-info" type="submit">Log in</button>
                </div>
            </form>
        </main>
    </div>
</div>