<div class="flex flex-col gap-5 p-5 ">
    <div class="flex justify-end " *appUserHasRole="['Admin']">
        <button routerLink="/admin/user-manager" class="flex items-center w-fit bg-transparent/20 shadow shadow-black gap-2 px-3 py-2 rounded-md text-[#fff8]"><span class="flex items-center gap-2">Contact manager<i class="fa-solid fa-arrow-right"></i></span></button>
    </div> 
    <div class="">
        <div>
            <app-admin-contact-manager></app-admin-contact-manager>
        </div>
    </div>
</div>
