<nav class="bg-transparent/60 p-1 text-[#2272ff]">
    <ul class="flex justify-between items-center ">
        <div class="text-5xl font-bold text-[#fff8]">NB</div>
        <div class="flex gap-3 "> 
            <li routerLinkActive="text-[#fff8]"><a routerLink="/main/home">Home</a></li>
            <li routerLinkActive="text-[#fff8]"><a routerLink="/main/about">About</a></li>
            <li routerLinkActive="text-[#fff8]"><a routerLink="/main/portfolio">Portfolio</a></li>
            <li routerLinkActive="text-[#fff8]"><a routerLink="/main/contact">Contact</a></li>
        </div>
        <div>
            <a  *ngIf="(accountService.user$ | async) === null" routerLink="/account/login">Login</a>
            <button *ngIf="(accountService.user$ | async)as user" (click)="onLogout()">Logout</button>
        </div>
    </ul>
</nav>