<div class="bg-transparent/20 rounded-md p-3 md:p-6 shadow shadow-black text-[#fff8]">
    <form [formGroup]="contactForm" (ngSubmit)="onContact()" class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <label for="nameOfCompany">Name of Company</label>
            <input 
                formControlName="nameOfCompany" 
                type="text"
                class="bg-transparent/20 outline-none shadow shadow-black rounded-md p-3 placeholder:text-[#fff8]"
                placeholder="Name of Company">
        </div>
        <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input 
                type="text" 
                formControlName="email"
                class="bg-transparent/20 outline-none shadow shadow-black  rounded-md p-3 placeholder:text-[#fff8]"
                placeholder="Your email address">
        </div>
        <div class="flex flex-col gap-2">
            <label for="message">Message</label>
            <textarea 
                formControlName="message" 
                id="message" 
                cols="20" 
                rows="4"
                class="bg-transparent/20 outline-none shadow shadow-black rounded-md p-3 placeholder:text-[#fff8]"
                placeholder="Message">
            </textarea>
        </div>
        <div class="flex justify-center items-center mt-2">
            <button 
                class="bg-transparent/20 shadow shadow-black text-[#fff8] px-7 py-3 rounded-md " 
                type="submit">
                Submit
            </button>
        </div>
    </form>
</div>