<div class=" text-[#fff8] grid md:grid md:grid-cols-2  gap-7">
    <details class="md:hidden block rounded-md border border-[#BB4430] h-fit px-3 hover:cursor-pointer">
        <summary class="text-xl text-[#BB4430] text-center">Project Information</summary>
        <p class="flex gap-3"><span class="text-[#fff8]">Link: </span> <a class="text-[#2272ff]" href="https://firma-bed54.web.app/auth" target="_blank">https://firma-bed54.web.app/auth</a></p>
    </details>
    <details class="md:hidden block rounded-md border border-[#BB4430] h-fit px-3 hover:cursor-pointer">
        <summary class="text-xl text-[#BB4430] text-center">Login Credentials</summary>
        <div class="flex justify-between">
            <p>Email: <span class="text-[#2272ff]">test@test.com</span> </p>
            <p>Password: <span class="text-[#2272ff]">123456</span></p>
        </div>
    </details>
    <div class="hidden md:block rounded-md border border-[#BB4430] h-fit px-3">
        <h3 class="text-xl text-[#BB4430] text-center font-bold">Project Information</h3>
        <p class="flex gap-3"><span class="text-[#fff8]">Link: </span> <a class="text-[#2272ff]" href="https://firma-bed54.web.app/auth" target="_blank">https://firma-bed54.web.app/auth</a></p>
    </div>
    <div class="rounded-md border hidden md:block border-[#BB4430] h-fit px-3">
        <h3 class="text-xl text-[#BB4430] text-center font-bold">Login Credentials</h3>
        <div class="flex justify-between">
            <p>Email: <span class="text-[#2272ff]">test@test.com</span> </p>
            <p>Password: <span class="text-[#2272ff]">123456</span></p>
        </div>
    </div>
</div>