<div class="flex flex-col gap-5 md:gap-10 p-2 lg:p-10 h-full">
    <h2 class="contact-me text-center text-[#BB4430]">Contact me</h2>
    <div class="grid md:grid md:grid-cols-2  gap-5 lg:gap-10 md:justify-center md:items-center md:h-full">
        <div class="bg-transparent/20 shadow shadow-black text-[#fff8] rounded-xl p-6 justify-start  flex flex-col gap-3">
            <p class="contact-br-mail"><span class="text-[#BB4430]">Mobile:</span> 0695525756</p>
            <a href="mailto:96budi@gmail.com" class="contact-br-mail"><span class="text-[#BB4430]">E-mail:</span> 96budi&#64;gmail.com</a>
            <div>
                <app-contact-social-media></app-contact-social-media>
            </div>
        </div>
        <div class="">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>