<div class="grid grid-rows-[auto,1fr] h-full p-4 md:p-10 ">
    <h2 class="contact-me text-center text-[#BB4430]">Contact me</h2>
    <div class="grid gap-5 lg:gap-10 p-4 w-full md:grid md:grid-cols-2 md:justify-center md:items-center h-full overflow-auto">
                <div class="bg-transparent/20 shadow shadow-black text-[#fff8] rounded-xl p-6 justify-start  flex flex-col gap-3">
                    <p class="contact-br-mail"><span class="text-[#BB4430]">Mobile:</span> 0695525756</p>
                    <a href="mailto:96budi@gmail.com" class="contact-br-mail"><span class="text-[#BB4430]">E-mail:</span> 96budi&#64;gmail.com</a>
                    <div class="z-0">
                    <app-contact-social-media></app-contact-social-media>

                    </div>
                </div>
        <div class="w-full ">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>