@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body,
:root {
    background-color: rgb(10, 10, 10, 0.7);
    
    overflow-x: hidden;
}

.custom-input {
    background-color: transparent !important;
  }
  

  @keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px) rotate(5deg); }
    20% { transform: translateX(5px) rotate(-5deg); }
    30% { transform: translateX(-3px) rotate(3deg); }
    40% { transform: translateX(3px) rotate(-3deg); }
    50% { transform: translateX(-2px) rotate(2deg); }
    60% { transform: translateX(2px) rotate(-2deg); }
    70% { transform: translateX(-1px) rotate(1deg); }
    80% { transform: translateX(1px) rotate(-1deg); }
    90%, 100% { transform: translateX(0); }
  }
  
  .shake-button {
    animation: shake 3.5s infinite; /* Pokreni animaciju 'shake' sa trajanjem od 1 sekunde, beskonačno puta */
    transform-origin: center; /* Postavi tačku transformacije u centar dugmeta */
  }
  
  .shake-button:hover {
    animation: none;
  }

  .p-ime {
    font-size: clamp(1.3rem, 2.5vw, 3.9rem);

    line-height: 0.9em;

  }

  @keyframes typing {
    0% { width: 0; }
    40% { width: 100%; }
    50% { width: 100%; } /* Zastane na kraju */
    55% { width: 100%; } /* Zadrži se */
    100% { width: 0; } /* Započne brisanje unazad */
  }
  
  .typing-animation {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid #BB4430;
    animation: typing 4s steps(26) infinite;
  }
  
  
  
  
.social-media-text {
    font-size: clamp(0.9rem, 1.1vw, 1.5rem);
}

.about-me-text {
    font-size: clamp(0.9rem, 1vw, 1.15rem);
}

.about-me-headline {
  font-size: clamp(1.1rem, 1.4vw, 2.7rem);

}

.h2-custom {
    font-size: clamp(2rem, 3.5vw, 7.9rem);
}

.p-pozdrav {
    font-size: clamp(1.3rem, 1.9vw, 3.9rem);
}

.p-moje {
    font-size: clamp(1.3rem, 2.2vw, 3.9rem);
}


.p-custom {
    font-size: clamp(1.3rem, 2.9vw, 3.9rem);
}

.contact-me {
    font-size: clamp(2.1rem, 2.5vw, 3.9rem);
}

.contact-br-mail {
    font-size: clamp(1.1rem, 1.4vw, 2.4rem);
}


.padding-custom {
    padding: clamp(1rem, 9vw, 8rem);
}


.custom-card {
    font-size: clamp(0.9rem, 1.1vw, 2.9rem);
}

.about-skils {
    font-size: clamp(1.1rem, 1.2vw, 3.9rem);
}

.about-card1 {
    font-size: clamp(1rem, 1.2vw, 3.9rem);
    
}
.about-card2 {
    font-size: clamp(1rem, 1.1vw, 3.9rem);  
}

.shadow-about-me {
  /* box-shadow: 0 0 5px #BB4430, 0 0 15px #BB4430; */
  box-shadow: 0 0 5px #BB4430, 0 0 10px #BB4430;

}

.portfolio-h2 {
    /* color: #fff8; */
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 3.9rem);
}

.portfolio-text {
    font-size: clamp(0.9rem, 0.8vw, 2.5rem);
}
.portfolio-p-text {
    font-size: clamp(0.9rem, 1vw, 3.9rem);
}
.portfolio-project-link {
    font-size: clamp(0.9rem, 1.2vw, 3.9rem);
    font-weight: bold;
}

.toogle-menu {
    display: flex;
    flex-direction: column;
}

.active {
    position: relative; /* Postavi relativnu poziciju kako bi se mogla koristiti 'right' svojstvo */
    overflow: hidden; /* Sakrij prelazak linije preko granica elementa */
    padding-bottom: 3px; /* Dodaj dodatni padding na dnu da bi se osiguralo da linija ima prostora za pomeranje */
    color: #BB4430;
}
  
  .active::after {
    content: ""; /* Dodaj pseudo-element nakon glavnog elementa */
    position: absolute; /* Postavi apsolutnu poziciju za liniju */
    bottom: 0; /* Postavi liniju na dno roditeljskog elementa */
    right: 0; /* Početna pozicija linije je skroz desno */
    width: 100%; /* Početna širina linije je 100% (ceo element) */
    height: 2px; /* Debljina linije */
    background-color: #BB4430; /* Boja linije */
    animation: moveLine 2s linear infinite; /* Pokreni animaciju 'moveLine' sa trajanjem od 8 sekundi, linearnim ubrzanjem i beskonačnim ponavljanjem */
    /* Dodaj kašnjenje od 1 sekunde pre početka animacije */
  }

  @keyframes moveLine {
    0% {
      right: 0;
      ; /* Početna pozicija linije je skroz desno */
    }
    50% {
      right: 100%; /* Linija se kreće na sredini animacije do skroz levo */
    }
    50.01% {
        opacity: 0; 
      right: 100%; /* Linija zadržava poziciju skroz levo */
    }
    100% {
      right: 0; /* Na kraju animacije, linija se kreće s leve strane ka desnoj */
    }
  }
  
  @media (max-width: 768px) {
    .active{
        width: fit-content;
        color: rgb(165, 250, 53);
    }

    .active::after {
        background-color: #a5fa35;
    }
  }

@media (max-width: 930px) {
   
    .th-custom2 {
       display: none;
    }
    tbody {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    tr {
        border: solid 1px #BB4430;
    }
    .td-custom2 {
       display: grid;
       gap: 1rem;
       grid-template-columns: 10ch auto;
       padding: 0.5rem 1rem;
    }
    .td-custom2:first-child {
       padding-top: 0.5rem;
       border: none;
    }
    .td-custom2:last-child {
       padding-bottom: 0.5rem;
    }
 
    .td-custom2::before {
       content: attr(data-cell) ": ";
       font-weight:bolder;
       text-transform: capitalize;
       color: #ffffff88;
    }
    .td-custom2:nth-of-type(2n) {
       background: rgba(64, 64, 64, 0.5);
    }
    .break-letters {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
 }

  .mobile-nav-toggle {
    display: none;
  }

  @media (max-width: 48em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 100000000;
        background: steelblue;
        flex-direction: column;
        padding: min(30vh,10rem) 2rem;
        background: hsl(0 0% 0% / 0.75);
        transform:  translateX(100%);
        transition: transform 350ms ease-out;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url('assets/images/menu.png');
        background-repeat: no-repeat;
        border: 0;
        width: 3rem;
        aspect-ratio: 1;
        top: 0.2rem;
        right: 1rem;
        z-index: 999999999;
    }
  }

  .xMarkWhenIsOpen {
    background: url('assets/images/icons8-x-50.png');
  }

  .openNavBar {
    transform:  translateX(0%);
  }
  
  .primary-navigation.disable-animation {
    transition: none !important;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsla(0, 2%, 8%, 0.1);
        backdrop-filter: blur(1rem);
    }
  }

.modal::backdrop {
    background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(0.1rem);
}

.modal {
    position: fixed;
    top: 50%; /* Centriranje vertikalno */
    left: 50%; /* Centriranje horizontalno */
    transform: translate(-50%, -50%); /* Pomaknite dijalog na sredinu */
    background-color: rgb(195, 197, 195);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* z-index: 1000; Postavite visoki z-index kako bi dijalog bio iznad ostalih elemenata */
}


details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}


@keyframes sweep {
    from {
        opacity: 0; margin-top: -20px;
    }
    to {
        opacity: 1; margin-top: 0px;
    }
}


.custom-progress::-webkit-progress-bar {
    /* background-color: #f0f0f0;
    border: 1px solid #ccc; */
    border-radius: 3px;
}

.custom-progress::-webkit-progress-value {
    border-radius: 3px;
    background-color: #BB4430;
}

.custom-progress::-webkit-progress-bar {
    background-color: #454b45;
}



