<div class="grid md:grid md:grid-cols-[1fr,0.7fr] md:grid-rows-1 h-full justify-center items-center p-10 md:p-0 gap-10 w-full md:w-[90%] lg:w-[85%] xl:w-[80%] 2xl:w-[75%] mx-auto">
    <div class="flex flex-col justify-center items-center gap-6 animate__animated animate__zoomInDown  animate__slow ">
        <div class="flex flex-col md:justify-end md:items-end font-extrabold text-[#fff8]  ">
            <p class="p-pozdrav">Hi!</p>
            <p class="p-moje">My name is</p>
            <p class="p-ime">Nemanja Budimirovic</p>
          </div>  
        <div class="flex flex-col justify-center items-center gap-6">
            <div
                class="bg-transparent/60 text-[#2272ff]   border-[#2272ff] border-2 shadow shadow-[#2272ff]  p-4 md:px-10 rounded-lg flex-col justify-center items-center gap-2 w-fit custom-card ">
                <!-- <p>Fokusiran sam na razvoj karijere kao Web Developer-a.</p>
                <p>Sa čvrstom željom ka profesionalnom usavršavanju, </p>
                <p>radim na unapređenju svojih tehničkih veština</p>
                <p>kako bih pružao efikasna rešenja</p>
                <p>koja zadovoljavaju poslovne potrebe.</p> -->
                I am focused on advancing my career as a Web Developer, with a strong desire for continuous improvement. I am working on enhancing my technical skills to deliver efficient and innovative solutions. Additionally, I am committed to researching the latest technologies and trends in web development to constantly progress and refine my skills
            </div>
            <button 
                (click)="onDownloadCV()"
                type="submit"
                class="w-fit download-cv-button bg-transparent/60 outline-none text-white font-bold py-2 px-4 rounded mt-4 justify-center items-center">
                Download CV
            </button>
        </div>
    </div>
    <div class="flex items-center w-full justify-center animate__animated animate__fadeInLeft animate__slow  ">
            <img src="assets/images/me3final.png" class="mb-2 md:mb-0 max-h-[70dvh] bg-transparent/60 shadow-xl rounded-3xl shadow-black" alt="Myimg">
    </div>
</div>