<div class="flex gap-6 flex-wrap ">
    <div class="flex items-center gap-3">
        <!-- <p class="text-[#BB4430]">Fabebook:</p> -->
        <a href="https://www.facebook.com/96kum" target="_blank"  class="flex rounded transition duration-1000 ">
            <span class="text-[#BB4430] flex "><i class="fa-brands fa-facebook  fa-2x"></i></span>
        </a>
    </div>
    <div class="flex items-center gap-3">
        <!-- <p class=" text-[#BB4430]">Github:</p> -->
        <a href="https://github.com/Nemanja-Budi" target="_blank"  class="flex rounded transition duration-1000 ">
           <span class="text-[#BB4430] flex "><i class="fa-brands fa-github fa-2x"></i></span>
        </a>
    </div>
    <div class="flex items-center gap-3">
        <!-- <p class="text-[#BB4430]">Linkedin:</p> -->
        <a href="https://www.linkedin.com/in/nemanja-budimirovic-b8aa93300" target="_blank" class="flex rounded  transition duration-1000 ">
            <span class="text-[#BB4430] flex "><i class="fa-brands fa-linkedin fa-2x"></i></span>
        </a>
    </div>
</div>